body {
    background-color: black;
}

#container {
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 25%; 
    background-color: #a66fc4; 
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

#content {
    width: 75%; 
    padding: 20px;
    color: white;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333; 
}

#sidebar ul li a:hover {
    color: #555; 
}

body {
    font-family: Arial, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    color: #ffa500; 
    font-weight: bold; 
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 2em; 
}

p {
    font-size: 1em; 
    line-height: 1.5; 
    color: #fff; 
}

