.about-intro {
  padding-top : 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.yellow-box {
  width: 200px; 
  height: 400px; 
  background-image: linear-gradient(#C07F00,#FFD95A,#ffec97 );
  margin-right: 20px; 
  position: relative;  
  overflow: visible;  
}

.breakout-image {
    position: absolute;  
    left: -50px;  
    top: 150px;  
    width: 500px;  
  }

.hero-text {
  color: black;
}


.hero-text> h1 {
    color: black;
  }






