body {
    background-color: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.6; 
    font-size: 1.2em;
    font-family: Arial, sans-serif; 
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-image: url('../images/circle-scatter-.svg');
  background-position: center; 
  background-repeat: repeat; 
  background-size: auto; 
  position: relative;
}

.hero-text {
  flex: 1;
  padding-right: 2rem;
}

.hero-image {
  flex: 1;
  width: 250px;
  max-width: 500px;
  height: 250px;
}

.hero-image > img {
    width: 100%;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.hero-text > h2 {
  font-size: 2rem;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  margin-top: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hero-text p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #b6b6b6;
}

.highlight01 {
    color: transparent;
    -webkit-text-stroke: 2px white;
    background-clip: text;
}

.highlight02 {
    color: #ffed66;
    text-shadow:
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000,   
        3px 3px 0px #da4167; 
}

.highlight03 {
    color: #6096ba;
    border: 4px dashed #6096ba;
    padding: 3px;
    display: inline;
    border-radius: 10px 20px 30px 40px;
}

.highlight04 {
    text-decoration: underline;
  text-decoration-color: #fc0000;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
}

.hero-text button {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #333;
  color: #e2ff24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-text button:hover {
  background: #ffb83d;
}

.svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-container img {
    display: block;
    width: 100%;
    
  }

@media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .hero-image {
        padding-top: 25px;
        width: 100%;
    }

    .hero-text {
        text-align: center;
        padding: 0;
    }
  }

  /*Section under the services heroe section*/
  .hero-section {
    position: relative;
    
  }
  
  .services-section {
    position: relative;
    top: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top : 20px;
    margin-bottom: 35px;
    background-image: url(../images/services-heroe-bottom.svg);
  }
  
  .service-block {
    width: 30%;
    padding: 18px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
    border: 2px solid #000;
  }


  .service-block001 {
    background: #f0da33;
  }
.service-block002 {
    background: #606fdc;
  }
  .service-block003 {
    background: #8e98e6;
  }
  /*Section under the services heroe section*/
  /*Mobile view for block section*/

  @media (max-width: 768px) {

    .service-block {
      width: 100%; 
      margin-bottom: 20px; 
    }
  
    .services-section {
      flex-direction: column; 
      align-items: center; 
      top : 130%
    }
  }

   /*Mobile view for block section*/

   /*Section 02 under summery page*/

 .section-02 {
   background: linear-gradient(to bottom,#f0da33 , #f1dd41);
    padding-top: 80px;
    padding-bottom: 50px;
 }

 .section-02  h1 {
  font-size: 2.5rem;
  color: black;
 }

 .flex-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  text-align: center;
  margin-bottom: 20px; 
}


.text-container {
  max-width: 50%;  
  margin-right: 2em;  
}

.image-container {
  max-width: 50%;  
  text-align: right;  

.image-container img {
  max-width: 10%;  
  height: 10%; 
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.section-02 button {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #333;
  color: #e2ff24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.section-02 button:hover {
  background: #1b99ca;
}

.card-servies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto; 
  height: auto; 
  border: 1px;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
}

.card-image {
  width: 80%; /* Change as needed */
  height: auto;
}

.card-title {
  text-align: center;
  margin: 10px 0;
}

.card-description {
  text-align: center;
  margin: 10px 0;
}

.card-button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 768px) {
  .flex-section {
    flex-direction: column;
  }

  .text-container,
  .image-container {
    max-width: 100%;
  }

  .text-container {
    margin-right: 10px;
  }
}

   /*Section 02 under summery page*/

   /*Section 03 Become A teacher*/
   .section-03 {
    background: linear-gradient(to bottom,#606fdc , #3d4bb9);
     padding-top: 80px;
     padding-bottom: 50px;
  }
 
     /*Section 03 Become A teacher*/