.k-section-01 {
    background-image: linear-gradient(to left,blueviolet, rgb(105, 18, 186) );
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    position: relative;
}

.k-section-01 h1 {
    font-size: 1.5rem;
    padding: 10px;
}


.k-section-01  h1,h2,h3{
font-family: 'Roboto', sans-serif;
}


.k-section-01 > h1 {
    font-size: 2.5rem;
}

.k-section-01  h2 {
    text-decoration: underline;
}

.k-section-01-container {
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 
}

.k-section-01-flex-items {
    text-align: center;
}


@media screen and (max-width: 600px) {
    .k-section-01-container {
        flex-direction: column;
    }
}