.highlighted-general { 
    background-color: #ff0;  
    padding: 5px;  
}


.highlight01 {
    color: transparent;
    -webkit-text-stroke: 2px white;
    background-clip: text;
}

.highlight02 {
    color: #ffed66;
    text-shadow:
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000,   
        3px 3px 0px #da4167; 
}

.highlight03 {
    color: #6096ba;
    border: 4px dashed #6096ba;
    padding: 3px;
    display: inline;
    border-radius: 10px 20px 30px 40px;
}

.highlight04 {
    text-decoration: underline;
  text-decoration-color: #fc0000;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
}

.highlight05 {
  background-color: #2883E8;
  color: #0d1b2a;
  padding: 3px;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
}

.highlight06 {
  background-color: #87ea00;
  color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transform: rotate(-1deg);
  outline: dashed 2px black; 
}

.highlight07 {
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
    border-radius: 6px;
    padding: 3px 6px;
  
}