.button {
    display: inline-block; 
    margin-top: 20px; 
  }

  .button {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #333;
    color: #e2ff24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }


  .service-section-03-text button:hover {
    background: #4507d6;
  }

  .button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #333;
    color: #e2ff24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hero-text button:hover {
    background: #ffb83d;
  }

  /*Admissions page buttons*/
.button {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #333;
    color: #e2ff24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .button:hover {
    background: #4507d6;
  }
  /*Admissions page buttons*/

  /*news Buttons*/

  .button-n {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #c62368;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .button-n:hover {
    background: #fa7268;
    color: #4507d6;
  }

  /*HEAD FIX*/
  .card-button {
    background-color: #343a40;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-button:hover {
    background-color: #ffa2a2;
  }
  /*Head fix end*/


  /*Courses section buttons*/

  .button-c {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background: #c62368;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
  }

  .button-c:hover {
    background-color: #e60707;
  }