/*Header*/
/* Navbar styles */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center; 
    width: 100%; 
  }
  
  .navbar-item {
    margin-right: 15px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
  }
  
  .navbar-link:hover {
    background-color: #555;
    color: white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-indicator {
  font-size: 0.7em;
}

  /* Navbar styles end */

/*FOOTERS*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-weight: bold;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  
  /*FOOTER END*/