.a-section-02 {
    text-align: center;
    background-image: linear-gradient(to bottom, white,#8ce5df);
}

.a-section-02 > h1 {
 padding-top: 80px;
 text-align: center;
 font-size: 5rem;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.a-section-02 .button01 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 3.2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #1dab3e;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
